VITE_FIREBASE_API_KEY=AIzaSyB9KsNkbl3UZZKkPW_gynHFCf--liiYOYA
VITE_FIREBASE_AUTH_DOMAIN=tamuku-6360f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tamuku-6360f
VITE_FIREBASE_STORAGE_BUCKET=tamuku-6360f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=762093911458
VITE_FIREBASE_APP_ID=1:762093911458:web:placeholder
